/* Resetowanie stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0e0f1f;
  color: #e0e0e0;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Nawigacja */
.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #16172a;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  font-size: 1.2rem;
  color: #e0e0e0;
}

.navbar ul li a:hover {
  color: #d75ee8;
}

/* Hero sekcja */
#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #14151f;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #b0b0b0;
  margin-bottom: 40px;
}

.hero-buttons .btn-primary,
.hero-buttons .btn-secondary {
  padding: 15px 30px;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
}

.btn-primary {
  background-color: #d75ee8;
  color: #fff;
}

.btn-primary:hover {
  background-color: #a048c2;
}

.btn-secondary {
  background-color: #48456f;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #3b3658;
}

/* Sekcja Umiejętności */
.skills-section {
  padding: 50px;
  background-color: #0f1027;
  text-align: center;
}

.skills-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #d75ee8;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background-color: #16172a;
  padding: 30px;
  border-radius: 15px;
  width: 250px;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.skill-card i {
  font-size: 3rem;
  color: #d75ee8;
  margin-bottom: 20px;
}

.skill-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.skill-card p {
  font-size: 1rem;
  color: #b0b0b0;
}

/* Sekcja Projekty */
.projects-section {
  padding: 50px;
  background-color: #14151f;
}

.projects-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  color: #d75ee8;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background-color: #16172a;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.project-card img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  color: #b0b0b0;
  margin-bottom: 20px;
}

.btn-card {
  background-color: #d75ee8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-card:hover {
  background-color: #a048c2;
}

/* Sekcja Kontakt */
.contact-section {
  padding: 50px;
  background-color: #0f1027;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #d75ee8;
}

.contact-link {
  font-size: 1.5rem;
  color: #d75ee8;
}

/* Stopka */
footer {
  text-align: center;
  padding: 20px;
  background-color: #16172a;
}

footer p {
  font-size: 1rem;
  color: #b0b0b0;
}
